body{

font-family:'Segoe UI',sans-serif;
background:#f5f7fb;

}


/* Navbar */

.navbar{

background:#0d6efd;

}


.navbar-brand{

color:white!important;
font-size:25px;
font-weight:bold;

}


.nav-link{

color:white!important;
font-weight:600;

}



/* Hero */


.hero{

height:650px;

display:flex;

align-items:center;

text-align:center;

color:white;

background:

linear-gradient(
135deg,
#0d6efd,
#6610f2
);

}



.hero h1{

font-size:55px;
font-weight:800;

}



.hero p{

font-size:22px;

}





/* Cards */


.card-box{

background:white;

padding:35px;

height:100%;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.4s;

}



.card-box:hover{

transform:translateY(-15px);

}



.card-box i{

font-size:60px;

color:#0d6efd;

margin-bottom:20px;

}





/* Counter */


.counter-section{

background:#0d6efd;

color:white;

padding:50px;

}



.counter{

font-size:50px;

font-weight:bold;

}





/* Footer */


footer{

background:#111;

color:white;

text-align:center;

padding:25px;

}